* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 1.62rem;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  line-height: 1.17;
}

.logo-part1 {
  color: #2196f3;
}

.nav-list,
.asset-list,
.job-list-item,
.workers-list,
.projects {
  list-style: none;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 15px;
}
.nav-list {
  display: flex;
  align-items: center;
  padding: 32px 353px 32px 93px;
}

.nav-list-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.87rem;
  line-height: 1.17;
  color: #212121;
  padding-right: 46px;
}

.nav-list-item:hover,
.footer-address-links:hover {
  color: #2196f3;
}

.title {
  font-size: 2.75rem;
  font-weight: 900;
  background: #2f303a;
  color: #ffffff;
  line-height: 1.36;
  justify-content: center;
  padding: 200px 300px 30px 300px;
  margin: 0;
}

.main-section {
  text-align: center;
  height: 37.5rem;
  background: #2f303a;
}

.main-button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.87;
  margin: 0px 300px 50px 300px;
  padding: 10px 41px 10px 41px;
  border-radius: 4px;
  border: none;
}

.main-button:hover,
.main-button:focus {
  color: #ffff;
  background-color: #2196f3;
  cursor: pointer;
}

.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.62;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  margin-top: 94px;
}

.portfolio-button-list {
  display: flex;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffff;
  background-color: #2196f3;
  cursor: pointer;
}

.address-links {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.87rem;
  color: #757575;
  line-height: 1.17;
}

.address-links:hover,
.address-links:focus {
  color: #2196f3;
}

.asset-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

.asset-list-item {
  color: #212121;
  font-weight: 700;
  font-size: 0.87rem;
  line-height: 1.17;
}

.asset-list-description {
  font-weight: 400;
  font-size: 0, 87rem;
  color: #757575;
  line-height: 1.71;
}

.job,
.workers {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 25px;
}

.job-list {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 30px;
}

.workers-list-person {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.17;
  background-color: #ffffff;
  text-align: center;
  margin: 0;
}

.workers-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
}

.bottom-part {
  background-color: #f5f4fa;
}

.profession {
  font-size: 1rem;
  font-weight: 400;
  color: #757575;
  line-height: 1.17;
  background-color: #ffffff;
  text-align: center;
}

.project-list-item {
  font-size: 1.12rem;
  font-weight: 700;
  line-height: 2;
}

.project-description {
  font-size: 1rem;
  font-weight: 400;
  color: #757575;
  line-height: 1.87;
}

.location {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1.71;
  color: #ffffff;
}

.footer-data {
  background-color: #2f303a;
}

.footer-address-links {
  font-style: normal;
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1.71;
  color: #ffffff99;
  text-decoration: none;
  display: block;
}
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.descriptions {
  border-left: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
  padding: 20px;
  background-color: #ffffff;
}

.image-no-gap {
  display: block;
}

.container-footer {
  max-width: 1200px;
  margin: auto;
  padding: 60px;
}
